
LojistikApp/.vs/HekaLojisticsApp/v16/.suo
LojistikApp/.vs/HekaLojisticsApp/v16/.suo
*.cache
*.cache
*.editorconfig
*.editorconfig
*.cache
LojistikApp/.vs/HekaLojisticsApp/v16/.suo
LojistikApp/HekaLojisticsApp.Business/obj/Debug/net5.0/HekaLojisticsApp.Business.assets.cache
LojistikApp/HekaLojisticsApp.Business/obj/Debug/net5.0/HekaLojisticsApp.Business.csproj.AssemblyReference.cache
LojistikApp/HekaLojisticsApp.Business/obj/Debug/net5.0/HekaLojisticsApp.Business.GeneratedMSBuildEditorConfig.editorconfig
LojistikApp/HekaLojisticsApp.Core/obj/Debug/net5.0/HekaLojisticsApp.Core.GeneratedMSBuildEditorConfig.editorconfig
LojistikApp/HekaLojisticsApp.DataAccess/obj/Debug/net5.0/HekaLojisticsApp.DataAccess.assets.cache
LojistikApp/HekaLojisticsApp.DataAccess/obj/Debug/net5.0/HekaLojisticsApp.DataAccess.csproj.AssemblyReference.cache
LojistikApp/HekaLojisticsApp.DataAccess/obj/Debug/net5.0/HekaLojisticsApp.DataAccess.GeneratedMSBuildEditorConfig.editorconfig
LojistikApp/HekaLojisticsApp.Dto/obj/Debug/net5.0/HekaLojisticsApp.Dto.csproj.AssemblyReference.cache
LojistikApp/HekaLojisticsApp.Dto/obj/Debug/net5.0/HekaLojisticsApp.Dto.GeneratedMSBuildEditorConfig.editorconfig
LojistikApp/HekaLojisticsApp.Entities/obj/Debug/net5.0/HekaLojisticsApp.Entities.assets.cache
LojistikApp/HekaLojisticsApp.Entities/obj/Debug/net5.0/HekaLojisticsApp.Entities.GeneratedMSBuildEditorConfig.editorconfig
LojistikApp/HekaLojisticsApp.UI.Web/obj/Debug/net5.0/HekaLojisticsApp.UI.Web.assets.cache
LojistikApp/HekaLojisticsApp.UI.Web/obj/Debug/net5.0/HekaLojisticsApp.UI.Web.csproj.AssemblyReference.cache
LojistikApp/HekaLojisticsApp.UI.Web/obj/Debug/net5.0/HekaLojisticsApp.UI.Web.GeneratedMSBuildEditorConfig.editorconfig
LojistikApp/HekaLojisticsApp.UI.WebAPI/obj/Debug/net5.0/HekaLojisticsApp.UI.WebAPI.assets.cache
LojistikApp/HekaLojisticsApp.UI.WebAPI/obj/Debug/net5.0/HekaLojisticsApp.UI.WebAPI.GeneratedMSBuildEditorConfig.editorconfig
LojistikApp/HekaLojistikApp.WebFramework/obj/Debug/net5.0/HekaLojisticsApp.Web.Framework.GeneratedMSBuildEditorConfig.editorconfig
LojistikApp/HekaLojisticsApp.Business/obj/Debug/net5.0/HekaLojisticsApp.Business.csproj.AssemblyReference.cache
