
LojistikApp/.vs/HekaLojisticsApp/v17/.suo
LojistikApp/HekaLojisticsApp.Business/obj/Debug/net5.0/HekaLojisticsApp.Business.csproj.AssemblyReference.cache
*.cache
LojistikApp/.vs/HekaLojisticsApp/v16/.suo
LojistikApp/HekaLojisticsApp.Business/obj/Debug/net5.0/HekaLojisticsApp.Business.csproj.AssemblyReference.cache
LojistikApp/HekaLojisticsApp.Business/obj/Debug/net5.0/HekaLojisticsApp.Business.GeneratedMSBuildEditorConfig.editorconfig
LojistikApp/HekaLojisticsApp.Core/obj/Debug/net5.0/HekaLojisticsApp.Core.GeneratedMSBuildEditorConfig.editorconfig
LojistikApp/HekaLojisticsApp.DataAccess/obj/Debug/net5.0/HekaLojisticsApp.DataAccess.csproj.AssemblyReference.cache
