
LojistikApp/HekaLojisticsApp.Business/obj/Debug/net5.0/HekaLojisticsApp.Business.csproj.AssemblyReference.cache
LojistikApp/HekaLojisticsApp.Business/obj/Debug/net5.0/HekaLojisticsApp.Business.csproj.AssemblyReference.cache
LojistikApp/HekaLojisticsApp.UI.Web/bin/Debug/net5.0/appsettings.json
LojistikApp/HekaLojisticsApp.UI.Web/bin/Debug/net5.0/appsettings.json
*.json
LojistikApp/HekaLojisticsApp/
