LojistikApp/HekaLojisticsApp.Business/bin/Debug/*
LojistikApp/HekaLojisticsApp.Business/obj/Debug/*

LojistikApp/HekaLojisticsApp.Core/bin/Debug/*
LojistikApp/HekaLojisticsApp.Core/obj/Debug/*

LojistikApp/HekaLojisticsApp.DataAccess/bin/Debug/*
LojistikApp/HekaLojisticsApp.DataAccess/obj/Debug/*

LojistikApp/HekaLojisticsApp.Dto/bin/Debug/*
LojistikApp/HekaLojisticsApp.Dto/obj/Debug/*

LojistikApp/HekaLojisticsApp.Entities/bin/Debug/*
LojistikApp/HekaLojisticsApp.Entities/obj/Debug/*


LojistikApp/HekaLojisticsApp.UI.Web/bin/Debug/*
LojistikApp/HekaLojisticsApp.UI.Web/obj/Debug/*

LojistikApp/HekaLojisticsApp.UI.WebAPI/obj/Debug/*
LojistikApp/HekaLojisticsApp.UI.WebAPI/bin/Debug/*

LojistikApp/HekaLojistikApp.WebFramework/obj/Debug/*
LojistikApp/HekaLojistikApp.WebFramework/bin/Debug/*