HekaLojisticsApp.Business/bin/Debug/*
HekaLojisticsApp.Business/obj/Debug/*

HekaLojisticsApp.Core/bin/Debug/*
HekaLojisticsApp.Core/obj/Debug/*

HekaLojisticsApp.DataAccess/bin/Debug/*
HekaLojisticsApp.DataAccess/obj/Debug/*

HekaLojisticsApp.Dto/bin/Debug/*
HekaLojisticsApp.Dto/obj/Debug/*

HekaLojisticsApp.Entities/bin/Debug/*
HekaLojisticsApp.Entities/obj/Debug/*


HekaLojisticsApp.UI.Web/bin/Debug/*
HekaLojisticsApp.UI.Web/obj/Debug/*

HekaLojisticsApp.UI.WebAPI/obj/Debug/*
HekaLojisticsApp.UI.WebAPI/bin/Debug/*

HekaLojistikApp.WebFramework/obj/Debug/*
HekaLojistikApp.WebFramework/bin/Debug/*
*.cache